.faceProductPhoto {
    height: 300px;
    align-content: center;
    display: flex;
    justify-content: center;
    text-align: center;

}

#allCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.card {
    justify-content: center;
    padding-top: 30px;
    height: 450px;
    width: 300px;
}