.examples {
  text-align: center;
}

.examples-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.examples-subheader {
  background-color: #572c3e;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.examples-link {
 text-decoration: none;
}

.examples-content {
  background-color: white;
  min-height: 20vh;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.examples-link {
  color: #61dafb;
}
